---
export const prerender = true

import { getCollection } from 'astro:content';
import DefaultPageLayout from '$/layouts/default.astro';
import { PAGE_SIZE } from '$/config';
import { languages } from '$/i18n/ui';
import { useTranslations } from '$/i18n/utils'

export async function getStaticPaths({ paginate }) {
  const allLanguages = Object.keys(languages); // Assuming 'languages' contains your language definitions
  const allPosts = await getCollection('blog')

  const awaitedPosts = allLanguages.map((lang) => {
    const filteredPosts = allPosts.filter((post) => post.data.lang === lang); // Assuming each post has a 'lang' property
    return paginate(filteredPosts, {
      params: { lang },
      pageSize: PAGE_SIZE
    });
  })

  return awaitedPosts.flat()
}

const { lang } = Astro.params;

let title = 'Blog';
const t = useTranslations(lang)
let description = t('blog.languages');
const allLanguages = Object.keys(languages);

---

<DefaultPageLayout content={{ title, description }}>
  <ul class="lang-list">
    {allLanguages.map((lang) => (
       <li><a class="lang" href={`/blog/${lang}`} title={`View posts in "${lang}"`}>{lang}</a></li>
   ))}
   </ul>
</DefaultPageLayout>

<style>
  .lang-list {
      @apply list-none flex gap-2 flex-wrap
  }
  .lang {
      @apply inline-block text-xl px-4 py-1 rounded-full text-theme-primary bg-theme-dark-primary dark:bg-theme-primary dark:text-theme-dark-primary hover:bg-theme-primary hover:text-theme-dark-primary dark:hover:bg-theme-dark-primary dark:hover:text-theme-primary
  }
</style>