---
export const prerender = true

import { getCollection } from 'astro:content';
import DefaultPageLayout from '$/layouts/default.astro'
import { languages} from '$/i18n/ui'
import { PAGE_SIZE } from '$/config';
import Paginator from '$/components/Paginator.astro';

// TODO: get translations for title and description
let title = 'All Tags'
let description = 'All the tags used so far...'

export async function getStaticPaths() {
  const allPosts = await getCollection('blog')
  const paths = allPosts.map(page => {
		const [lang,] = page.slug.split('/');
		const filteredPosts = allPosts.filter((post) => post.data.lang === lang)
		const tags = [...new Set([].concat.apply([], filteredPosts.map(post => post.data.tags)))]
    
		return { params: { lang }, props: { page, tags }}
  })

  return paths;
}

const { lang } = Astro.params
const { page, tags } = Astro.props
---

<DefaultPageLayout content={{ title, description }}>
    <ul class="tag-list">
     {tags.map((tag) => (
        <li><a class="tag" href={`/${lang}/tags/${tag}`} title={`View posts tagged under "${tag}"`}>{tag}</a></li>
    ))}
    </ul>
</DefaultPageLayout>

<style>
    .tag-list {
        @apply list-none flex gap-2 flex-wrap
    }
    .tag {
        @apply inline-block text-xl px-4 py-1 rounded-full text-theme-primary bg-theme-dark-primary dark:bg-theme-primary dark:text-theme-dark-primary hover:bg-theme-primary hover:text-theme-dark-primary dark:hover:bg-theme-dark-primary dark:hover:text-theme-primary
    }
</style>
